@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
}

.home-wrap {
	padding-top: 120px;
	padding-bottom: 280px;
}

#navbar {
	background: #FDFEFE;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
	padding: 40px;
	overflow: hidden;
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
}

h2 {
	font-size: 32px;
	text-transform: uppercase;
}

#navbar a {
	text-decoration: none;
	color: #99A3A4;
	margin-left: 60px;
	transition: all 0.3s;
	position: relative;
}

#navbar a::after {
	content: '';
	display: inline-block;
	width: 0;
	height: 2px;
	background: #EB984E;
	position: absolute;
	left: 0px;
	bottom: 0px;
	transition: 0.2s ease-in;
}

#navbar a:hover::after {
	width: 100%;
}

#navbar a:hover {
	color: #EB984E;
}

#logo {
	width: 150px;
	height: 150px;
	display: block;
	margin: 20vh auto 1vh auto;
}

h3 {
	text-transform: uppercase;
	color: #5F6A6A;
	text-align: center;
}

.grid {
	padding-top: 150px;
	padding-bottom: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex: 0 0 25%;
}

.project > img {
	margin: 5px;
	max-width: 300px;
	max-height: 200px;
}

.connect-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.connect-items > a {
	color: #424949;
	font-size: 72px;
	
	padding: 50px;
}
	

#navbar .linkActive {
	font-size: 18px;
	color: #EB984E;
}

footer {
	text-align: center;
	padding: 30px;
	font-size: 12px;
}

